/*.imagen{width: 600px;
	background-color:black ;
	height: 110px;
	border: solid 5px #202020;

}
*/




nav{
	background-color:grey ;
	width: 1700px ;
	height: 100px;
	display: inline-block;
	margin:;
}
 table, th, td {

            b: 1px solid white;
             background-color: black;
             color: white;
             border-radius: 10px;
  }
